@import '../../../../stylesheets/abstracts/index';

.join-us {
  width: 100%;
  position: relative;
  max-width: 50rem;
  &__form {
    margin-top: $global-margin * 4;
    display: flex;
    position: relative;

    @media screen and (max-width: $mobile-width) {
      flex-direction: column;
    }
  }

  &__input {
    height: 5rem;
    border: none;
    border-radius: $border-radius;
    max-width: 30rem;
    width: 100%;

    padding: 0 $global-padding * 4 0 $global-padding * 2;

    &:active, &:focus {
      outline: none;
    }

    @media screen and (max-width: $mobile-width) {
      width: 100%;
      max-width: none;

      box-sizing: border-box;
    }
  }

  &--loading {
    opacity: 0.8;
  }

  &__button {
    margin-left: -$global-margin * 4;

    @media screen and (max-width: $mobile-width) {
      margin-top: $global-margin * 2;
      margin-left: 0;
      align-self: center;
    }
  }

  &__error {
    padding: $global-padding $global-padding * 1.5;
    color: $primary-color;
    position: absolute;
    bottom: -4rem;
    left: .5rem;
    font-size: 1.3rem;
    text-shadow: 0 0 3px;
    letter-spacing: 0.04rem;

    @media screen and (max-width: $mobile-width) {
      top: 9rem;
    }
  }
}