@import '../../../stylesheets/abstracts/index';

.section-info {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;

  $section-info: section-info;

  &--center {
    align-items: center;
    .#{$section-info} {
      &__desc {
        text-align: center;
      }
    }
  }

  &--rtl {
    text-align: right;

    .#{$section-info} {
      align-items: flex-end;

      &__glow {
        left: 100%;
        transform: translate(-55%, -35%);
      }
    }
  }

  &__glow {
    position: absolute;
    transform: translate(-30%, -30%);
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
  }

  &__title {
    font-size: $heading-font-size;

    display: flex;
    flex-direction: column;

    margin: $global-margin 0;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    font-style: italic;

    width: 80%;
  }
}