@import '../../../stylesheets/abstracts/index';

.section-info {
  position: relative;

  &--rtl {
    text-align: right;
    align-items: flex-end;
  }

  &__glow {
    position: absolute;
    transform: translate(-50%, -20%);
  }

  &__title {
    font-size: $heading-font-size;

    display: flex;
    flex-direction: column;

    margin: $global-margin 0;
  }

  &__desc {
    display: flex;
    flex-direction: column;
  }
}