@import '../../../stylesheets/abstracts/index';

.section-info {
  &__title {
    font-size: $heading-font-size;

    display: flex;
    flex-direction: column;

    margin: $global-margin 0;
  }

  &__desc {
    display: flex;
    flex-direction: column;
  }
}