@import "../../../stylesheets/common";

.section-content {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;

  @media screen and (max-width: $mobile-width) {
    align-items: center;
  }

  &--center {
    align-items: center;
    text-align: center;
  }

  &--right-aligned {
    text-align: right;
    align-items: flex-end;

    @media screen and (max-width: $mobile-width) {
      text-align: center;
      align-items: center;
    }
  }

  &__title {
    font-size: 6.5rem;

    display: flex;
    flex-direction: column;
    letter-spacing: -2px;
    font-weight: 800;

    @media screen and (max-width: $mobile-width) {
      font-size: 5.6rem;

      max-width: 80%;
    }

    margin: $global-margin 0;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    // font-style: italic;

    width: 80%;

    @media screen and (max-width: $mobile-width) {
      align-items: center;
      text-align: center;
    }
  }
}
