@import '../../../stylesheets/abstracts/index';

.button {
  $btn: button;

  padding: $global-padding * 1.5 $global-padding * 3;

  border-radius: $border-radius;

  background-color: $primary-color;
  border-color: $primary-color;

  font-weight: bold;

  color: $text-color;

  border-width: 0;

  cursor: pointer;
  transition-duration: $transition-duration;

  &:hover {
    opacity: 0.6;
  }

  &--secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }

  &--outline {
    border-width: 0.2rem;
    border-style: solid;
    background-color: transparent;
  }
}