@import '../../../stylesheets/abstracts/index';

.button {
  $btn: button;

  box-sizing: border-box;
  height: 5rem;
  
  padding: 0 $global-padding * 2;

  border-radius: $border-radius;

  background-color: $primary-color;
  border-color: $primary-color;

  font-weight: bold;

  color: $text-color;

  border-width: 0;
  box-sizing: border-box;

  min-width: 17.5rem;

  cursor: pointer;
  transition-duration: $transition-duration;
  box-shadow: 0 .4rem 1rem transparentize($primary-color, 0.6);

  &:focus, &:active {
    outline: none;
  }

  &:hover {
    opacity: 0.9;
  }

  &--loading {
    cursor: wait;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      opacity: 1;
    }
  }

  &--disabled {
    pointer-events: none;
    &:hover {
      opacity: 1;
    }
  }

  &--tertiary {
    background-color: $tertiary-color;
    border-color: $tertiary-color;
    box-shadow: 0 .4rem 1rem transparentize($tertiary-color, 0.6);
  }

  &--secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    box-shadow: 0 .4rem 1rem transparentize($secondary-color, 0.6);
  }

  &--outline {
    border-width: 0.2rem;
    border-style: solid;
    background-color: transparent;
  }
}