@import '../../../stylesheets/abstracts/index';

.button {
  $btn: button;

  box-sizing: border-box;
  height: 5rem;
  
  padding: 0 $global-padding * 2;

  border-radius: $border-radius;

  font-weight: bold;

  color: $text-color;

  border-width: 0;
  box-sizing: border-box;

  min-width: 17.5rem;

  cursor: pointer;
  transition-duration: $transition-duration;

  box-shadow: 0 .4rem .7rem transparentize($primary-color, 0.6);

  &:focus, &:active {
    outline: none;
  }

  @media screen and (max-width: $mobile-width) {
    min-width: 25rem;
  }

  &--loading {
    cursor: wait;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      opacity: 1;
    }
  }

  &--disabled {
    pointer-events: none;
    &:hover {
      opacity: 1;
    }
  }

  &--primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
      $darken-color: darken($primary-color, 10%);
      border-color: $darken-color;
      background-color: $darken-color;
      box-shadow: 0 .4rem 1rem transparentize($darken-color, 0.3);
    }
  }

  &--secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    box-shadow: 0 .4rem .7rem transparentize($secondary-color, 0.6);

    &:hover {
      $darken-color: darken($secondary-color, 5%);
      border-color: $darken-color;
      background-color: $darken-color;
      box-shadow: 0 .4rem 1rem transparentize($darken-color, 0.5);
    }
  }

  &--tertiary {
    background-color: $tertiary-color;
    border-color: $tertiary-color;
    box-shadow: 0 .4rem .7rem transparentize($tertiary-color, 0.6);

    &:hover {
      $darken-color: darken($tertiary-color, 15%);
      border-color: $darken-color;
      background-color: $darken-color;
      box-shadow: 0 .4rem 1rem transparentize($darken-color, 0.5);
    }
  }

  &--outline {
    border-width: 0.2rem;
    border-style: solid;
    background-color: transparent;

    &:hover {
      background: transparent;
    }
  }
}