@import "../../../stylesheets/common";

.footer {
  display: flex;
  justify-content: center;

  &__layout {
    border-top: 0.3rem solid $text-color;

    padding-top: 3rem;
    padding-bottom: 10rem;

    max-width: $layout-width;
    width: 100%;

    display: flex;
  }
}
