@import '../../../stylesheets/common';

.top-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;

    max-width: 70rem;

    margin-top: $global-margin * 15;

    & .section-content__title {
      font-size: 7.6rem;
    }
  }

  &__action {
    margin-top: $global-margin * 5;
    margin-bottom: $global-margin * 7;
  }
}