.fluid-section {
  position: relative;
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 30rem;
  }
}