@import '../../../stylesheets/abstracts/index';

.fluid-section {
  position: relative;
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  @media screen and (max-width: $mobile-width) {
    flex-direction: column;
    align-items: stretch;
  }

  &__actions {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 30rem;
    height: 24rem;

    @media screen and (max-width: $mobile-width) {
      margin-top: $global-margin;
    }
  }
}