@import '../../../stylesheets/abstracts/index';

.control-section {
  padding-top: $global-padding * 5;

  display: flex;
  flex-direction: row-reverse;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 60rem;

    margin-top: $global-margin * 5;
  }

  &__action {
    margin-top: $global-margin;
  }
}