@import '../../../stylesheets/abstracts/index';

.shooting-star {
  position: absolute;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;

  transform: translate(-50%, 0);

  @media screen and (max-width: $mobile-width) {
    display: none;
  }

  &--vertical {
    transform: translate(-50%, 0) rotate(-90deg) rotateX(180deg);
  }
  &--reversed {
    transform: translate(-50%, 0) rotate(-180deg) rotateX(180deg);
  }
}