.shooting-star {
  position: absolute;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;

  transform: translate(-50%, 0);

  &--vertical {
    transform: translate(50%, 0) rotate(-90deg) rotateX(180deg);
  }
  &--reversed {
    transform: translate(-50%, 0) rotate(-180deg) rotateX(180deg);
  }
}