$heading-color: #fff;
$heading-font-family: "Approach-XBlk";

$text-color: #eee;
$text-font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue",
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans",
  "Libre Franklin", sans-serif;
$text-font-size: 1.6rem;

$bg-color: #0f0c1d;

$primary-color: #ed3f3f;
$primary-color-shadow: lighten($primary-color, 6%);
$secondary-color: #f021c3;
$tertiary-color: #402f7e;
$fourth-color: #45aaf1;

$grey-scale-light: #8c8c8c;
$grey-scale-dark: #4f4f4f;

$layout-width: 95rem;

$global-padding: 1rem;
$global-margin: 1rem;

$border-radius: 3rem;

$transition-duration: 0.3s;

$mobile-width: 1090px;
