@import '../../../../stylesheets/abstracts/index';

.bouncing-ball {
    height: 60rem;
    width: 45rem;
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    top: 50%;

    @media screen and (max-width: $mobile-width) {
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        top: auto;
        transform: translateY(0);
    }
}