html {
  font-size: calc(100% * 0.625);
}

body {
  font-size: 1.6rem;

  line-height: 1.8;

  color: $text-color;
  font-family: $text-font-family;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  
  color: $heading-color;
  font-family: $heading-font-family;
}