@import '../../../stylesheets/abstracts/index';

.easy-animation-section {
  position: relative;
  padding-top: $global-padding * 0;

  display: flex;
  flex-direction: row-reverse;

  @media screen and (max-width: $mobile-width) {
    flex-direction: column;

    padding-bottom: 55rem;

    align-items: center;
  }

  &__content {
    max-width: 55rem;
    align-items: flex-end;

    @media screen and (max-width: $mobile-width) {
      align-items: center;
    }

    margin-top: $global-margin * 5;
  }

  &__action {
    margin-top: $global-margin;
  }
}