@import '../../../stylesheets/abstracts/index';

.section {
  width: 100%;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 20rem;

  position: relative;

  padding-top: $global-margin * 5;

  &--glown {
    background-image: radial-gradient(circle at 50% -100%, transparentize(#48a2f5, 0.3), transparentize(#265b8b, 1) 70%);
  }

  &__layout {
    width: $layout-width;
  }

  &__line {
    bottom: 0;
    position: absolute;

    z-index: 0;
  }
}