$heading-color: #fff;
$heading-font-family: 'Gilroy';
$heading-font-size: 7.6rem;

$text-color: #eee;
$text-font-family: 'Libre Franklin', sans-serif;
$text-font-size: 1.6rem;

$bg-color: #0C0C0C;

$primary-color: #E8294C;
$secondary-color: #E8294C;

$layout-width: 95rem;
