$heading-color: #fff;
$heading-font-family: 'Gilroy';
$heading-font-size: 7.6rem;

$text-color: #eee;
$text-font-family: 'Libre Franklin', sans-serif;
$text-font-size: 1.6rem;

$bg-color: #0F0C1D;

$primary-color: #E8294C;
$primary-color-shadow: #F1284C;
$secondary-color: #f021c3;
$tertiary-color: #402F7E;
$fourth-color: #45aaf1;

$grey-scale-light: #8C8C8C;
$grey-scale-dark: #4F4F4F;

$layout-width: 95rem;

$global-padding: 1rem;
$global-margin: 1rem;

$border-radius: 3rem;

$transition-duration: 0.3s;

$mobile-width: 1090px;