@import '../../../stylesheets/common';

.get-ahead {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: $global-padding * 18;
  margin-top: $global-margin * 10;

  @media screen and (max-width: $mobile-width) {
    margin-top: 0;

    padding-bottom: $global-padding * 2;
  }
}